@{
    ViewData["Title"] = "Home Page";
}
<h1>About the project</h1>
<p>Enclosed is a webscraping project using ASP.Net Core MVC technologies.  The project is designed to autonomously(behind the scenes) open a chrome brower, navigate and log into your Yahoo Finance portfolio and scrape the date out of the webpage.  It will store the data in a SQL server and display on the page.  Upon clicking on the date of the scrape, the page will display the stocks that are included in your portfolio complete with specific stock data.</p>
